@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KarlaBold;
  src: url('assets/font-style/Karla/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: LatoRegular;
  src: url('assets/font-style/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: LatoBold;
  src: url('assets/font-style/Lato/Lato-Bold.ttf') format('truetype');
}

.font-bold {
  font-family: LatoBold, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: KarlaBold, serif;
}

html {
  font-family: LatoRegular, serif;
}

.title-1 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

.title-2 {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}

.title-3 {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

.title-4 {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

.title-5 {
  @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
}

.title-6 {
  @apply text-sm lg:text-base xl:text-lg;
}

.text {
  @apply text-base;
}

.text-large {
  @apply text-base sm:text-lg;
}

.text-small {
  @apply text-xs sm:text-sm;
}

.text-light {
  @apply text-neutral-500;
}

.input {
  @apply border border-neutral-500 rounded-md h-10 px-4;
}

input {
  @apply focus:outline-none text-black;
}

textarea {
  @apply focus:outline-none text-black;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn {
  @apply text-white rounded-md px-4 py-2 space-x-2;
}

.btn-primary {
  @apply btn bg-primary !important;
}

.btn-secondary {
  @apply btn bg-secondary !important;
}

.btn-danger {
  @apply btn bg-red-500 !important;
}

.btn-skeleton-primary {
  @apply btn bg-transparent text-primary border border-primary !important;
}

.btn-skeleton-secondary {
  @apply btn bg-transparent text-secondary border border-secondary !important;
}

.center-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  @apply bg-secondary;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0e766e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
